{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>List of Tournaments</h1>

    <h2>Create a New Tournament</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Tournament</button>
    </form>

    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Game</th>
                <th>Number of players</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td><a href="{% url 'tournament-detail' tournament.pk %}">{{ tournament.id }}</a></td>
                <td><a href="{% url 'tournament-detail' tournament.pk %}">{{ tournament.name }}</a></td>
                <td>{{ tournament.start_date }}</td>
                <td>{{ tournament.end_date }}</td>
                <td>{{ tournament.game }}</td>
                <td>{{ tournament.num_of_players }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
